@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Regular.ttf');
}
@font-face {
	font-family: 'Raleway'
	src: url('../fonts/Raleway 300.ttf');
}
@font-face {
	font-family: 'SourceCodePro';
	src: url('../fonts/SourceCodePro-Regular');
}
body {
	margin:2.5em auto;	/* 40px/16=2.5em */
	max-width:40.625em;	/* 650px/16=40.625em */
	line-height:1.6;
	font-size:1.125em;	/* 18px/16=1.125em */
	color:#444;
	padding:0
	0.625em
	}
h1,h2,h3
{
	font-family: 'Merriweather', serif ;
	text-align: center;
	/* line-height:0.625em /* 10px/16=0.625em */

}
code {
	font-family: 'SoruceCodePro', monospace;
	text-indent: 50px;
}
/*img {
	left: 50%
	margin-right: -50%;
	transform: translate(-50%, -50%)
}*/
titletilt {
	font-family: 'Merriweather', serif;
	font-style: italic;
}
strong {
	font-family: 'Merriweather', serif;
}
* {
	font-family: 'Raleway', sans-serif;
}